<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="view-port" content="width=device-width, initial-scale=1.0">
        <title>Neat's Pokemon adoption API</title>
    </head>
    <body>
        <h1>Neat's Pokemon adoption API</h1>
        <h2>Endpoints Usage</h2>
        <ul>
            <li><b>[GET] </b> <i>/health</i>: health endpoint. Retrieve status of the API</li>
            <li><b>[GET] </b> <i>/pokemon/list</i> Retrieve list of unnadopted pokemons</li>
            <li><b>[POST] </b> <i>/pokemon/healthcare</i>: Retrieve updated info for those pokemon that with nurse Joy</li>
            <li><b>[GET] </b> <i>/trainer/status</i>: Retrieve information by a given adoption process</li>
            <li><b>[POST] </b> <i>/trainer/adoption</i>: Process a new pokemon adoption followed by different metrics.</li>
        </ul>
    </body>
</html>